body,
html{ 
    height:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0px;
    padding:0px;
    color:inherit;
    background: rgb(51,78,107); 
    /* Old browsers */
background: -moz-linear-gradient(top,  rgba(51,78,107,1) 1%, rgba(12,7,9,1) 98%); 
    /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(51,78,107,1)), color-stop(98%,rgba(12,7,9,1))); 
    /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,78,107,1) 1%,rgba(12,7,9,1) 98%); 
    /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,78,107,1) 1%,rgba(12,7,9,1) 98%); 
    /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,78,107,1) 1%,rgba(12,7,9,1) 98%); 
    /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,78,107,1) 1%,rgba(12,7,9,1) 98%); 
    /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334e6b', endColorstr='#0c0709',GradientType=0 ); 
    /* IE6-9 */

}

/*DIV*/

#wrap {
    width:100%;
    margin:0px auto;

}

#main {
    float:right;
    width:80%;
   ;
}

#sidebar {
    float:left;
    width:15%;
}

/*HEADER RULES*/

#header {   
        border-bottom:1px solid #ccc;
        border-width:1px;
        list-style-type:none;
        margin:1px;
        padding:1px;
        text-align:center;
}

#header a {
        text-decoration: none;
        color:#FFF;
        font-size:48px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}




#h2 {
        display:inline-block;
        border: solid #ccc;
        margin-top:5px;
        margin-left:10%;
        margin-right:auto;
        border-width:1px;
        list-style-type:none;
        padding:1px;
        font-size:20px;
        color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-decoration:none;
        text-align:center;
        height:25%;
        width:75%;
        background-image: -ms-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #ECBE51), color-stop(1, #816325));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #ECBE51 0%, #816325 100%);
}

#h2:visited { 
        text-decoration: underline;
        color:#FFF;
        text-align:center;
}

#h2:hover {
        text-decoration: none;
        color:#FFF;
        text-align:center;

}

#h3 {
    text-decoration:none;
    text-align:center;
    color:#FFF;
    }

#h4 { 
    text-decoration:none;
    text-align:center;
    color:#FFF;
}


/*NAVIGATION RULES*/

#nav{
        border-bottom:1px solid #ccc;
        border-width:1px;
        list-style-type:none;
        margin:1px;
        padding:1px;
        text-align:center;
}

#nav a{
        text-decoration:none;
        display:inline-block;
        padding:1px;
        border: solid #ccc;
        
}

#nav a:link {
        font-size:20px;
         color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:25px;
        margin:10px;
        width:120px;
        /* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

    /* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

    /* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

    /* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #ECBE51), color-stop(1, #816325));

    /* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

    /* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #ECBE51 0%, #816325 100%);
      
}

#nav a:visited { 
        font-size:20px;
        color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:25px;
        margin:20px;
        width:120px;
}

#nav a:hover {
        text-decoration:none;
        font-weight: 800;
        color:#FFF3E7;
}






/*BODY RULES*/

#body {
        color:#FFF;
        font-family:"Trebuchet MS", Helvetica, sans-serif;
        margin: 1px 15px 1px 15px;
        font-size:14px;

}

#body a { 
        color: #FFF;
        text-decoration:none;
}




/*FOOTER RULES*/

#footer{
        border-top:1px solid #ccc;
        border-bottom:5px solid #ccc;
        border-width:1px;
        list-style-type:none;
        margin:0px;
        padding:0px;
        text-align:center;
        clear:both;
}

#footer a{
        text-decoration:none;
        display:inline-block;
        padding:2px;
        border: 1px solid #ccc
}

#footer a:link {
        font-size:17px;
         color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0  -1px black;
        text-align:center;
        height:17px;
        margin:5px;
        width:65px;
        /* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #ECBE51), color-stop(1, #816325));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #ECBE51 0%, #816325 100%);
}

#footer a:visited { 
        font-size:17px;
         color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:17px;
        margin:5px;
        width:65px;
}

#footer a:hover {
         text-decoration:none;
        font-weight: 800;
        color:#FFF3E7;
}



/*PARAGRAPH RULES*/

p { 
        text-align:left;
        color:#FFF;
        
    
}


a {
        text-align:center;
        text-decoration:underline;
        color: #FFF;
}

a:link { 
        text-align:center;
        text-decoration:underline;
        color: #FFF;
}

a:visited { 
        text-decoration:underline;
        color:#FFF;
}


a:hover { 
        text-decoration:underline;
        font-weight: 800;
        color:#FFF;
}




/* IMAGE RULES */

img { 
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
}





/* OBJECT RULES */

object {
        overflow:visible;
        padding:0px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
}

iframe { 
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
        }

/*MISC*/

.contact img {;
    width:10%;
    height:auto;
    clear:both;
}


#wordpress{
    margin-left:auto;
    margin-right:auto;
    width:35%;
    height:auto;
    clear:both; 
}

#resume object {
    margin-left:auto;
    margin-right:25px;
    width:100%;
    height:400px;
    clear:both;
    
        
}



/*MEDIA SCREEN*/

@media screen and (max-width: 600px) {
    section, aside;
    width:auto;
    float:none;
    
    
/*DIV*/

#wrap {
    width:100%;
    margin-left: auto;
    margin-right:auto;

}

#main {
    float:none;
    width:85%;
    margin-right:auto;
    margin-left:auto;
}

#sidebar {
    float:none;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
    
/*HEADER RULES*/

#header {   
        border-bottom:1px solid #ccc;
        border-width:1px;
        list-style-type:none;
        margin-left:auto;
        margin-right:auto;
        padding:1px;
        text-align:center;
}

#header a {
        text-decoration: none;
        color:#FFF;
        font-size:1.5en;
}

#h3 {
    text-decoration:none;
    text-align:center
}

#h4 { 
    text-align:center
}

/*NAVIGATION RULES 2*/

#nav{
        border-bottom:1px solid #ccc;
        border-width:1px;
        list-style-type:none;
        margin-left:auto;
        margin-right:auto;
        padding:1px;
        text-align:center;
        
}

#nav a{
        text-decoration:none;
        display:inline-block;
        padding:1px;
        border: solid #ccc;
        
}

#nav a:link {
        font-size:20px;
         color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:25px;
        margin:10px;
        width:120px;
        background-image: -ms-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #ECBE51), color-stop(1, #816325));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #ECBE51 0%, #816325 100%);
}

#nav a:visited { 
        font-size:20px;
         color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:25px;
        margin:20px;
        width:120px;
}

#nav a:hover {
        text-decoration:none;
        font-weight: 800;
        color:#FFF3E7;
}

/*PARAGRAPH RULES 2*/

p { 
        text-align:left;
        color:#FFF;
        clear:both;
    
}


a {
        text-align:center;
        text-decoration:underline;
        color: #FFF;
}

a:link { 
        text-align:center;
        text-decoration:underline;
        color: #FFF;
}

a:visited { 
        text-decoration:underline;
        color:#FFF;
}


a:hover { 
        text-decoration:underline;
        font-weight: 800;
        color:#FFF;
}





/*FOOTER RULES*/


#footer{
        border-top:1px solid #ccc;
        border-bottom:5px solid #ccc;
        border-width:1px;
        list-style-type:none;
        margin:1px 5px 1px 5px;
        padding:0px;
        text-align:center;
        clear:both;
}

#footer a{
        text-decoration:none;
        display:inline-block;
        padding:2px;
        border: solid #ccc
}

#footer a:link {
        font-size:17px;
        color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:17px;
        margin:5px;
        width:65px;
        background-image: -ms-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #ECBE51), color-stop(1, #816325));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #ECBE51 0%, #816325 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #ECBE51 0%, #816325 100%);
}

#footer a:visited { 
        font-size:17px;
        color:#FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align:center;
        height:17px;
        margin:5px;
        width:65px;
}

#footer a:hover {
         text-decoration:none;
        font-weight: 800;
        color:#FFF3E7;
}

/*IMAGE RULES*/

img {        
        height: 100%;
        width: 100%;
        display:block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
}

/*BODY RULES*/

#body {
        color:#FFF;
        font-family:"Trebuchet MS", Helvetica, sans-serif;
        margin: 1px 15px 10px 15px;
}

#body a { 
        color: #FFF;
        text-decoration:none;
}


/*OBJECTS*/

object {

        height: 100%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
}

iframe { 
       height: 100%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
        }


/*MISC*/

.contact img {  
    width:25%;
    height:auto;
    clear:both;
}

#wordpress{
    margin-left:auto;
    margin-right:auto;
    width:35%;
    height:auto;
    clear:both; 
}

}   